/* website logo in svg tags*/

/* quick svg explanation: https://www.youtube.com/watch?v=emFMHH2Bfvo */
/* mdn documentation: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/svg */

.logo{
    background-color: transparent;

}

svg {
    background-color: transparent;
}

svg path{
    stroke-dashoffset: 210;
    stroke-dasharray: 210;
    animation: draw 5s forwards;
}

svg path.leaf{
    fill: #000;
}

.leaf{
    fill: #000;
}

svg path.leaf:hover{
    animation: rustle 5s forwards;
}

svg g {
    fill-opacity: 0;
    animation: fill-in forwards;
}

@keyframes draw{
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-in{
    to {
        fill-opacity: 1;
    }
}

@keyframes rustle{
    to {
        
        transform: skew(10deg);
        transform-origin: 0% 0%;
    }
}

