/* website logo in svg tags*/
/* quick svg explanation: https://www.youtube.com/watch?v=emFMHH2Bfvo */
/* mdn documentation: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/svg */


/*Formatting and animation for logo*/
svg#logo-plant{
    max-width: 50px;
}

svg#logo-plant g {
    stroke:black;
    stroke-width: 1;
}

svg g#trunk{
    fill: none;
    fill-rule: nonzero;
}

svg g.leaf{
    fill: green;
}

svg path.leaf-vein{
    stroke-width: 0.5;
}
/* Documentation on transforms and transform-origin
 * https://developer.mozilla.org/en-US/docs/Web/CSS/transform
 * https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin
 * good practice to place origin on specific ID's and not classes so 
 * unintended divs don't move
 */
svg g.leaf#leaf-left:hover{
    transform-origin: 24px 25px ;
    animation: rustle forwards;
}

svg g.leaf#leaf-middle:hover{
    transform-origin: 26px 24.5px;
    animation: rustle forwards;
}

svg g.leaf#leaf-right:hover{
    transform-origin: 29px 24px;
    animation: rustle forwards;
}

@keyframes rustle{
    to{
        transform: rotate(10deg); 
    }
}



/*Formatting and animation for settings bar
 * Thanks W3 Schools! https://www.w3schools.com/howto/howto_css_menu_icon.asp
 */
.settings-icon-bar{
    transition:0.4s;
}

.change #bar-top{
    transform-origin: 10px 30px;
    transform: translate(0px, -20px) rotate(90deg);
}

.change #bar-middle{
    transform-origin: 50px 50px;
    transform: rotate(90deg);
}

.change #bar-bottom{
    transform-origin: 90px 70px;
    transform: translate(0px, 20px) rotate(90deg);
}
