*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    background: #333;

}

div.sticky-header{
    width: 100;
    max-height: 1;
    display: flex;
    flex-direction: row;
}

div.sticky-header div{
    width: 33%;
}

div.sticky-header #logo-container{
    display: flex;
    flex-direction: row;
}
